UnitTestCurrencyNumbersToWordsWCFService/Connected Services/CurrencyServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50134/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ConvertCurrencyNumbersToWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertCurrencyNumbersToWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ConvertCurrencyNumbersToWordsResult" nillable="true" type="q1:CurrencyNumbersToWords" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>